* {
    font-family: 'Press Start 2P', cursive;
    background-color: #09051e;
    color: #56d0ae;
}

html,body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    justify-content: center;
    
}


h1 {
    font-size: 1.5rem;
    text-align:center;
}


.cell {
    border: 2px solid white;
    height: 200px;
    width: 200px;
    font-size: 10rem;
    text-align: center;

}

.player1Selection {
    border: 2px solid white;
    background: white;
    color: #56d0ae;
    height: 200px;
    width: 200px;
    font-size: 10rem;
    text-align: center;
}

.player2Selection {
    border: 2px solid yellow;
    background: yellow;
    color: #56d0ae;
    height: 200px;
    width: 200px;
    font-size: 10rem;
    text-align: center;
}

#section-2 {
    text-align: center;
    margin-top: 20px;
}

#confirm {
    visibility: hidden;
    font-size: 20px;
}

@media (max-width: 768px) {
    #grid {
        grid-template-columns: repeat(3, 120px)
    }

    .cell {
        height: 120px;
        width: 120px;
        font-size: 100px;
    }

    .player1Selection {
        border: 2px solid white;
        background: white;
        color: #56d0ae;
        height: 120px;
        width: 120px;
        font-size: 100px;
        text-align: center;
    }
    
    .player2Selection {
        border: 2px solid yellow;
        background: yellow;
        color: #56d0ae;
        height: 120px;
        width: 120px;
        font-size: 100px;
        text-align: center;
    }

}