* {
    font-family: 'Bad Script', cursive;
    color: grey;
}

html,body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    justify-content: center;
    
}

#result {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: rgb(0, 255, 149);;
    font-size: 7rem;
}

h1 {
    font-size: 2rem;
    text-align:center;
}


.cell {
    border: 2px solid grey;
    height: 200px;
    width: 200px;
    font-size:7rem;
    text-align: center;

}

.player1Selection {
    border: 2px solid;
    background: white;
    color: #56d0ae;
    height: 200px;
    width: 200px;
    font-size: 7rem;
    text-align: center;
}

.player2Selection {
    border: 2px solid;
    color: #bb65f0;
    height: 200px;
    width: 200px;
    font-size: 7rem;
    text-align: center;
    align-self: center;
}

#section-2 {
    text-align: center;
    margin-top: 20px;
}

#confirm {
    visibility: hidden;
    font-size: 20px;
}

#reset {
    visibility: hidden;
    font-size: 20px;
}

/* mobile view */

@media (max-width: 768px) {
    #grid {
        grid-template-columns: repeat(3, 120px)
    }

    .cell {
        height: 120px;
        width: 120px;
        font-size: 50px;
    }

    .player1Selection {
        height: 120px;
        width: 120px;
        font-size: 50px;
        text-align: center;
    }
    
    .player2Selection {
        height: 120px;
        width: 120px;
        font-size: 50px;
        text-align: center;
    }

    #result {
        font-size: 3rem;
    }

}



